body {
    background-color: rgb(135, 137, 233);
}

h1 { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    
}


#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    widows: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
}

.left {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    float: left;
}

.middle {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
    float: left;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    border-radius: 1rem;
    border-color: black;
    background-color: rgb(195, 195, 231);
    float: right;
}

#btnOrder:hover {
    background-color: darkgray;
}